<!DOCTYPE html>
<html>
<head>
	<title>
		EWB-UCF | Engineers Without Borders - University of Central Florida
	</title>
</head>
<body>

	<%= render "static_pages/nav" %>

	 <div id="precontent">Engineering Toolkit Series <br/><h4 class="sub"> Practical Design and Analysis!</h4> </div>

	<div id="content">
		<h2 style="margin: 0px 0px 10px 0px; float: left;">
			What is it?
		</h2>
		<p class="about-ucf">
			This series is being taught by our International Project Team and geared towards teaching engineers how design a wind turbine, solar power system, etc based on specific weather weather data. As an engineer, being skilled at designing practical alternative power systems in various environments is invaluable and what we hope to help our members learn in this series!
			<br/><br/>
			Students will utilize the Engineering Toolkit, developed as part of the Weather Station Project, to help with the analysis and learn the design process for common alternative power solutions.

			<br><br>
		</p>

		<%= image_tag "engineeringtoolkit.jpg", :height => '180px', :class => 'tile' %>

		<br/>

		<%= image_tag "", :height => '180px', :class => 'tile' %>

		<div class="divider"></div>

	</div> <!-- content -->

	<%= render "static_pages/footer" %>
</body>
</html>