<!DOCTYPE html>
<html>
<head>
	<title>
		EWB-UCF | Engineers Without Borders - University of Central Florida
	</title>
</head>
<body>

	<%= render "static_pages/nav" %>

	 <div id="precontent">Fabrication Series <h4 class="sub"> Spring 2015</h4> </div>

	<div id="content">
		<h2 style="margin: 0px 0px 10px 0px; float: left;">
			What is it?
		</h2>
		<p class="about-ucf">
			The Fabrication Series is designed to give our members the opportunity to learn and practice skills having to do with fabrication. This involves lathe work, writing and running basic CNC machines, and welding. This course is very hands on and requires quite a time commitment in order to get through the final project but you will learn a lot and it will be an excellent skill for your resume!
			<br/><br/>
			More details coming soon! 

			<br><br>
		</p>

		<%= image_tag "engineeringtoolkit.jpg", :height => '180px', :class => 'tile' %>

		<br/>

		<%= image_tag "", :height => '180px', :class => 'tile' %>

		<div class="divider"></div>

	</div> <!-- content -->

	<%= render "static_pages/footer" %>
</body>
</html>