<!DOCTYPE html>
<html>
<head>
	<title>
		EWB-UCF | Engineers Without Borders - University of Central Florida
	</title>
</head>
<body>

	<%= render "static_pages/nav" %>

	 <div id="precontent">3rd World First Aid </div>

	<div id="content">
		<h2 style="margin: 0px 0px 10px 0px; float: left;">
			What is it?
		</h2>
		<p class="about-ucf">
			EWB’s 3rd World First Aid Series is aimed at teaching students how to do basic first aid with minimal equipment. What do you do if you are impaled with a nail and there is no hospital around? What about a snake bite? What can you do? You will learn based on example scenarios and then have to troubleshoot and handle situations given various scenarios! This will be a fun, interactive workshop series focused on equipping you with this knowledge that they don’t teach us traditionally! There will be a special focus on the Dominican Republic since this is where EWB is traveling over the next several years!
			<br><br>
		</p>

		<%= image_tag "logo-aid.png", :height => '180px', :class => 'tile' %>
		<br><br>
		</p>
		<div class="divider"></div>

	</div> <!-- content -->

	<%= render "static_pages/footer" %>
</body>
</html>