<!DOCTYPE html>
<html>
<head>
	<title>
		EWB-UCF | Engineers Without Borders - University of Central Florida
	</title>
</head>
<body>

	<%= render "static_pages/nav" %>

	 <div id="precontent">Scraps to Gold Lecture Series <h4 class="sub">Special Topics</h4></div>

	<div id="content">
		<h2 style="margin: 0px 0px 10px 0px; float: left;">
			What is it?
		</h2>
		<p class="about-ucf">
			<br/>
			EWB’s scraps to gold lecture series teaches our engineers how to repurpose junk for cool things. It is aimed at educating us about what is useful in the common things so many people not equip with this knowledge throw away. The first two lectures will cover things found in common electronics like TV’s, radios, computers, etc. Then the final series will cover what you can scrap from old cars! 
			<br/><br/>
			The hands on component will be after the GBM announcements and Scraps to Gold 50min Lecture where we will guide you in making cool stuff with old junk what we brought! We have an old TV, mother board, radio, etc so you can use what you learned in the lecture and get your hands dirty.
			<br><br>
		</p>

		<%= image_tag "logo-bulb.png", :height => '180px', :class => 'tile' %>
		<br><br>
		</p>
		<div class="divider"></div>

	</div> <!-- content -->

	<%= render "static_pages/footer" %>
</body>
</html>