<!DOCTYPE html>
<html>
<head>
	<title>
		EWB-UCF | Engineers Without Borders - University of Central Florida
	</title>
</head>
<body>

	<%= render "static_pages/nav" %>

	 <div id="precontent">Solar Power <h4 class="sub">Special Topics</h4></div>

	<div id="content">
		<h2 style="margin: 0px 0px 10px 0px; float: left;">
			What is it?
		</h2>
		<p class="about-ucf">
			The first of our special topics lectures this Fall is a Solar Power lecture! For our special topics lectures we invite a professional who studies or works in this area and can offer some insight to more in depth aspects on the topic. The special topics lecture gives our members the opportunity to network and get a more detailed look into current research on the topic!
			<br><br>
		</p>

		<%= image_tag "solarpower.jpg", :height => '180px', :class => 'tile' %>
		<br><br>
		</p>
		<div class="divider"></div>

	</div> <!-- content -->

	<%= render "static_pages/footer" %>
</body>
</html>