/***************************************************************************

    Static_Pages.css

    Author: J. Kaplan, T. Petresky
    Date:   Summer 2014

 **************************************************************************/



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:                    0;
    padding:                   0;
    border:                    0;
    font-size:                 100%;
    font:                      inherit;
    vertical-align:            baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display:                   block;
}
body {
    line-height:               1;
}
ol, ul {
    list-style:                none;
}
blockquote, q {
    quotes:                    none;
}
blockquote:before, blockquote:after,
q:before, q:after {
                               content: '';
                               content: none;
}
table {
                               border-collapse: collapse;
                               border-spacing: 0;
}


/******************************************************************************
 ******************************************************************************

Main CSS File for EWB-UCF.org

// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 ******************************************************************************
 *****************************************************************************/

html{
    min-width:                  100%;
    min-height:                 100%;
    background:                 #333;
    background:                 image-url("./bg.jpg") no-repeat center center fixed; 
    -webkit-background-size:    cover;              
    -moz-background-size:       cover;
    -o-background-size:         cover;
    background-size:            cover;
}

body{
    min-width:                  100%;
    min-height:                 100%;
    width:                      100%;
    height:                     100%;
    margin:                     0px 0px;
    position:                   absolute;

}



/*****************************************************************************
 *****************************************************************************

                                Templates

 *****************************************************************************
 ****************************************************************************/


div{
    width:                      100%;
}


div.divider{
    width:                      100%;
    border-top:                 1px solid #999;
    margin:                     20px 0px;
    padding:                    0px 20px;
}


div #wrapper{   
    min-width:                  100%;
    min-height:                 100%;
    width:                      100%;
    height:                     100%;
    margin:                     0px 0px;
    position:                   absolute;
}

div #precontent{
   
}

div #content{
}

div #content.brown{
}

div.tile{
    width:                      26%;
    min-height:                 25%;
    display:                    inline-block;
    margin:                     2% 1%;
    padding:                    2% 2% 1% 2%;
    border:                     1px solid #000;
    box-shadow:                 5px 5px 15px rgba(0,0,0,0.7);
    transition:                 all .3s;
    -webkit-transition:         all .3s;
    text-align:                 center;
    font-family:                ubuntu, Arial;
    color:                      #333;
}

div.tile:hover{
    width:                      26%;
    padding:                    2% 2% 1% 2%;
    border:                     1px solid #666;
    box-shadow:                 5px 5px 25px rgba(0,0,0,0.7);
    transition:                 all .3s;
    -webkit-transition:         all .3s;
}

div.software{
}

div.software-container{
}

footer.home{
    position:                   relative;
    top:                        500px;
    padding:                    0.5% 11%;
    color:                      #fff;
    font-family:                ubuntu;                 
    font-size:                  8pt;
}

footer.not-home{
    display:                    block;
    width:                      78%;
    height:                     2%;
    position:                   relative;
    bottom:                     0px;
    padding:                    1% 11%;
    background:                 rgba(0, 0, 0, 0.84);
    color:                      #fff;
    font-family:                ubuntu;                 
    font-size:                  8pt;
    text-align:                 center;
}


span{

}

span.left{

}

span.right{

}


span.software{
}



/*****************************************************************************
 *****************************************************************************

                               Navigation

 *****************************************************************************
 ****************************************************************************/


/*
 * Navigation Menu - Primary Level 
 * About, Our People, Our Projects, Media, Events, Contact
 */

nav{
    width:                      80%;
    height:                     9%;
    min-width:                  1000px;
    min-height:                 60px;
    margin:                     0px 0px;
    padding:                    0.5% 10%;
    background:                 rgba(0, 0, 0, 0.8);
    position:                   absolute;
    top:                        500px;
    color:                      #fff;   
    box-shadow:                 0px 2px 3px rgba(0, 0, 0, 0.7);                    
}

nav.home{
    position:                   relative;
    top:                        500px;              
}

nav.not-home{
    position:                   relative;
    top:                        0px;
}

nav img{
    width:                      28%;
}

nav ul{
    float:                      right;
    margin:                     0px 0px;
    padding:                    0px 0px;
    height:                     100%;
}

nav li, nav li a{
    display:                    inline-block;
    font-family:                ubuntu;
    font-size:                  12pt;
    font-weight:                normal;
    text-decoration:            none;
    color:                      #fff;
    background:                 rgba(0, 0, 0, 0);
    transition:                 all 1s;
    -webkit-transition:         all 1s;
}

nav li{
    height:                     45%;
    margin:                     auto;
    margin-right:               5px;
    padding:                    3% 0px 2% 0px;
    transition:                 all 1s;
    -webkit-transition:         all 1s;
    border:                     2px solid rgba(255,255,255,0);
}

nav li a{
    margin:                     auto;
    padding:                    0% 10px;
}

nav li:hover{
    margin:                     auto;
    margin-right:               5px;
    padding:                    3% 15px 2% 15px;
    border-right:               2px solid #c2cd23;
    border-left:                2px solid #c2cd23;
    border-radius:              15px;
    transition:                 all 1s;
    -webkit-transition:         all 1s;
}

nav li:hover a{
    display:                    inline-block;
    margin:                     auto;
    padding:                    0% 10px;
    font-family:                Ubuntu;
    font-size:                  12pt;
    font-weight:                normal;
    text-decoration:            none;
    color:                      #b5cde4;
    transition:                 all 1s;
    -webkit-transition:         all 1s;
}



    /**********************************************************
     **********************************************************

                            Templates

     **********************************************************
     *********************************************************/


/* second level hidden by default */
nav ul ul{
    display:                    none;
}

/* show second level on hover */
nav ul li:hover ul, 
nav ul ul:hover{
}

/* show second level on hover (not homepage) */
nav.not-home ul li:hover ul, 
nav.not-home ul ul:hover{
}

/* second level list items */
nav ul li:hover ul li, 
nav ul li ul:hover li{
}

/* second level list items */
nav.not-home ul li:hover ul li, 
nav.not-home ul li ul:hover li{
}


/* second level list items */
nav ul li:hover ul li:hover, 
nav ul li ul:hover li:hover{

}

/* second level anchors */
nav ul li:hover ul li a, 
nav ul li ul:hover li a{

}

/* second level anchors on hover */
nav ul li:hover ul li a:hover, 
nav ul li ul:hover li a:hover{

}

nav.not-home span.nav{
}

nav.home span.nav{
}



/*****************************************************************************
 *****************************************************************************

                               Tags

 *****************************************************************************
 ****************************************************************************/




a.resume{
}

a.resume:hover{
}

p.img{
}

img.hait{

}


img.tile{
}



/*****************************************************************************
 *****************************************************************************

                               Text Styles

 *****************************************************************************
 ****************************************************************************/

h1{

}

h2, h2 a{
}

h2 a{
}

h2 a:hover{
}

h2.dark{

}

h2.profile, h2.profile a{
}

h3{

}

p{
}

p.profile{

}

p.bio{

}

p.partner{
}


p.dark{

}

b{

}

i{
}



p.about-ucf{}



h4{
}

h4.sub{
}

h5{
}



p.software{
}



/*****************************************************************************
 *****************************************************************************

                               Forms / Inputs

 *****************************************************************************
 ****************************************************************************/
