
<div class="container-fluid precontent"> Update User </div>

<div class"container-fluid content" style="overflow: hidden;">
    <% if not logged_in? %>
    	flash.now.alert = "Please Login First"
    	<% link_to "Create Account", new_user_path %>
    <% else %>
    	<%= render 'form_membership' %>
    <% end %>

    <br/><br/>

    <%= link_to 'Back', users_path %>

</div> 