<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <div class="container-fluid precontent">
        Get Involved <h4 class="sub"> Change the world, one community at a time!</h4>
    </div>

    <div class="container-fluid content" style="overflow: hidden;">
        <%# User must login or signup to access the membership application %>
		<% if not logged_in? %>
			<%= render 'form' %>
        <% else %>
            <% render 'form_membership' %>
		<% end %>
    </div> 

</body>
</html>