<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>
    <div class="container-fluid precontent">Insert Text Here</div>
    <%= render "static_pages/nav" %>

    <div id="precontent"> Thank you for your support!</div>

    <div id="content" style="overflow: hidden;">
        <p>It means a tremendous amount to us! You will be recieving an email shortly </p>
		<br/><br/>
		
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>