<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <div class="container-fluid precontent">Insert Text Here</div>
	<%= render "static_pages/nav" %>

    <div id="precontent">Make a donation!
    </div>

    <div id="content" style="overflow: hidden;">
		<%= render 'form' %>
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>
