<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Project Bithlo <h4 class="sub">Aquaponics </h4></div>

    <div id="content" style="overflow: hidden;">

        <%
            bithlo_program_description = 'We are working on an aquaponics project at Transformation Village in Bithlo, Florida in eastern Orange County. We are partnered with United Global Outreach (UGO), a non-proﬁt organization focusing on transforming neglected and underprivileged communities like Bithlo. The centerpiece of their Bithlo Project is the Transformation Village. Our goal is to help the community of Bithlo by providing Orange County Academy (a K thru 9 school) with fresh, organic, locally grown ﬁsh and vegetables available on a year round basis and teach the students at Orange County Academy about the aquaponics and sustainable community projects they can do for the future.
                Aquaponics is a food production system combining aquaculture (raising aquatic animals such as ﬁsh in tanks) with hydroponics (cultivating plants in water) in a symbiotic relationship. We will raise ﬁsh in tanks and using their waste to provide nutrients to the growing plants which in turn provide a natural ﬁlter for the ﬁsh. Some of the common ﬁsh that can be raised in aquaponics systems include tilapia, goldﬁsh, and brim, and you can grow any of the leafy vegetables, including broccoli, lettuce, basil, tomatoes, strawberries, and many more nutrient-rich fresh foods.'

            bithlo_program_status = 'We are currently adding final touches to our CAD designs and pricing materials for the aquaponics system in Bithlo, FL. The funds we’ve raised currently are sufficient to start building phase 1 of the design this month! We are continuing our fundraising efforts this summer in hopes to be able to finish the project by the end of this year!'
        %>

        <%= raw project 'About', bithlo_program_description %>

        <%= raw project 'Status', bithlo_program_status %>
        
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>
