<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Dominican Republic <h4 class="sub">Sustainable Infrastructure</h4></div>

    <div id="content" style="overflow: hidden;">

        <%
            dominican_republic_program_description = 'In the north west region of the Dominican Republic, there are several communities that UCF’s College of Medicine group, MedPact, has been monitoring and providing medical care for. They have identified specific health conditions common across the communities due to their living conditions. Some don’t have access to untainted water, some have health issues due to poor indoor air quality, others simply lack sufficient nutritional food. These six communities have the potential for several projects that UCF’s EWB chapter along with other chapters in the nation can pursue over the course of the next several years.
'

            dominican_republic_program_status = "We are currently in the assessment phase of several potential projects in the Dominican Republic. UCF's College of Medicine (MedPact) has been working in 6 impoverished communities for several years and have identified specific health problems relating to lack of freshwater, lack of nutritional food, poor indoor air quality, lack of sanitation, etc. Our assessment trip this July 2014 is geared towards assessing potential viable solutions based on the needs that each community expresses. Then, the community leaders must submit a formal request to EWB-USA stating their need and requesting help. At that point, we have a green light and can spend the next several years working together! We will focus on empowering them to help us build a viable and sustainable solution so they have access so many basic things that we all tend to take for granted!
"
        %>

        <%= raw project 'About', dominican_republic_program_description %>

        <%= raw project 'Status', dominican_republic_program_status %>
        
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>
