<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Mare Bringol Haiti <h4 class="sub">Biofilters</h4></div>

    <div id="content" style="overflow: hidden;">

        <%
            clean_water_program_description = 'Bla bla about the program...'

            clean_water_program_status = 'Mission Complete!'
        %>

        <%= raw project 'About', clean_water_program_description %>

        <%= raw project 'Status', clean_water_program_status %>
        
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>
