<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> Create A New EWB-UCF Project
    </div>

    <div id="content" style="overflow: hidden;">
		<%= render partial: 'form' %>
	
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>