<!DOCTYPE html>
<html>
<head>
    <title>
        EWB-UCF | Engineers Without Borders - University of Central Florida
    </title>
</head>
<body>

    <%= render "static_pages/nav" %>

    <div id="precontent"> PBP <h4 class="sub">Rainwater Harvesting</h4></div>

    <div id="content" style="overflow: hidden;">

        <%
            pbp_program_description = 'The PBP is a local sustainable student coop full of project oriented students living a sustainable lifestyle. We grow our food, compost, have an outdoor shower, and do lots of projects to build community locally. This spring EWB’s project teams will be helping implement a rainwater harvesting system at the PBP! It will give our project teams the opportunity to work together, learn from each other and exercise team building on a project close to campus that someday we may have to implement in another country!
'

            pbp_program_status = 'The project is still in the planning phase while we wrap up some of our other projects!'
        %>

        <%= raw project 'About', pbp_program_description %>

        <%= raw project 'Status', pbp_program_status %>
        
    </div> <!-- content -->

    <%= render "static_pages/footer" %>
</body>
</html>
